$theme-colors: ("role--striker": #bd3f39,
  "role--tank": #d67e08,
  "role--controller": #398ad6,
  "role--support": #6aa84f,
  "role--artillery": #a64d79,
  //
  "system--weapon": #cc0000,
  "system--system": #2aa780,
  "system--trait": #bd6579,
  //
  "template": #ad8951,
);

@import '~bootstrap/scss/bootstrap.scss';

@each $theme-color in map-keys($map: $theme-colors) {
  .popover.popover-#{$theme-color} {
    border-color: map-get($theme-colors, $theme-color);

    * {
      color: $theme-color !important;
    }

    .arrow::before {
      border-top-color: map-get($theme-colors, $theme-color);
    }
  }
}


@import '~bootstrap-vue/src/index.scss';